$navbar-item-color: white;
@import "bulma/bulma.sass";
@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/solid.scss";

.app-container {
  padding: 20px;
}

.builder-page {
  width: 100%;
  height: 100%;
}

.preview {
  .preview-row {
    border: 1px solid $primary;
    padding: 10px;
    margin-bottom: 30px;
  }

  .preview-column {
    border: 1px solid $link;
    padding: 10px;
  }

  .preview-component {
    border: 1px solid $warning;
    padding: 10px;
  }
}
